.embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 30rem;
  padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
}

.button-prev,
.button-next {
  position: absolute;
  top: 50%;
  font-size: 2em;
  z-index: 2;
  color: white; /* Make sure the buttons are visible against the background */
  border-radius: 50%; /* circular buttons */
  padding: 10px; /* space around the icons */
}

.button-prev {
  left: 40px;
}

.button-next {
  right: 40px;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .embla {
    --slide-size: 100%;
    --slide-height: 20rem;
  }

  .embla__slide__img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
  }

  .button-prev,
  .button-next {
    font-size: 1.5em; 
    top: calc(50% - 0.75em); 
    background: rgba(0, 0, 0, 0.5); 
  }

  .button-prev {
    left: 10px; 
  }
  
  .button-next {
    right: 10px;
  }
}